body {
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff;
  font-size: 0.625rem;
  line-height: 2;
  font-family: "Lucida Grande", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
}

.title {
  margin: 6.25rem 3.125rem 5rem;
}

.title-lg {
  font-size: 3.6em;
}

.title-sm {
  font-size: 2.6em;
}

.logo {
  display: block;
  margin: 0 auto;
  background: url("lemange.png") center / 100% no-repeat;
}

.logo-lg {
  height: 17.75rem;
  width: 17.75rem;
}

.logo-sm {
  height: 6rem;
  width: 6rem;
}

.definition {
  margin: 5rem 3.125rem 6.25rem;
  font-size: 2em;
}

.definition em {
  margin: 0 .5em;
  color: #888;
}

.lemon {
  color: #fee101;
}

.orange {
  color: #ffa012;
}

.intro {
  color: #ffa012;
  background: #fffce9;
}

.intro .title {
  margin-bottom: 1.25rem;
}

.intro .logo {
  margin-bottom: 3.4375rem;
}

.intro p {
  margin: 1em auto;
  width: 25.9375rem;
  font-size: 1.8em;
  text-align: left;
}

a {
  color: #ffa012;
  transition: color .5s ease;
}

a:hover {
  color: #fee101;
}
